
.body{ 
  box-sizing: border-box;

}
h3:hover{
  color:orange; 
}
.box{ 
  box-shadow: 0px 0px 4px 4px rgb(0,0,0,0.26);
  background-color: darkcyan;
  padding-top:50px;
  padding-bottom:70px;
  text-align: center;
  border-radius: 12px;
 
 width:50%;  
 height:50%;
 
 margin:120px auto;
}
.signup{
  font-size: 20px; 
  margin-right: 10px;
  border-radius: 5px; 
  color:white; 
  background-color: black;
 
}
.signup:hover{
  box-shadow: 1px 1px 2px 2px gainsboro;
}
.signin{
  font-size: 20px;
  border-radius: 5px; 
  color:white; 
  background-color: black;
}
.signin:hover{
  box-shadow: 1px 1px 2px 2px gainsboro;
}
.signout{
  font-size: 20px;
  border-radius: 5px; 
  
  background-color: black;

}
.signout:hover{
  box-shadow: 1px 1px 2px 2px gainsboro;
}